.contact {
  background-color: #097e89;
  color: #fff;
  padding: 27px 41px 59px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__title {
    font-family: Sansation;
    font-size: 30px;
    line-height: 27.3px;
    margin-bottom: 26px;
  }

  &__text {
    opacity: 0.7;
    font-family: Sansation;
    font-size: 12px;
    line-height: 20.87px;
  }

  &__form {
    border: 1px solid rgba(#ffffff, .5);
    border-radius: 3px;
    margin-bottom: 5px;
  }

  &__input {
    background: transparent;
    color: rgba(#ffffff, .7);
    font-family: Sansation;
    font-size: 10px;
    line-height: 22.51px;
    border: 0 none;
    padding: 0 24px;
    width: 205px;
    height: 46px;

    &:first-child {
      border-right: 1px solid rgba(#ffffff, .5);
    }

    &::placeholder {
      color: rgba(#ffffff, .7);
    }
  }

  &__submit {
    background-color: #ffffff;
    border: 0 none;
    width: 101px;
    height: 46px;
    color: #097e89;
    font-size: 12px;
    font-weight: 700;
    line-height: 22.51px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}