footer.footer
  .footer_left
    .footer__menu
      .menu__title Product
      +menu('menu_vertical', ['Cost & Governance', 'Security & Compliance', 'Product N', 'Pricing & plans'])
    .footer__menu
      .menu__title Learn
      +menu('menu_vertical', ['Articles', 'Security & Compliance', 'Product N', 'Pricing & plans'])
    .footer__menu
      .menu__title Company
      +menu('menu_vertical', ['Cost & Governance', 'Security & Compliance', 'Product N', 'Pricing & plans'])
  .footer_right
    form.subscribe(action="")
      input.subscribe__input(type="email" placeholder="Your email" required)
      button.subscribe__submit(type="submit") Subscribe
    .socials.footer__socials
      +socials('socials', [
        { 'link': '#', 'type': 'fb'},
        { 'link': '#', 'type': 'tw'},
        { 'link': '#', 'type': 'gplus'},
        { 'link': '#', 'type': 'sm'},
        { 'link': '#', 'type': 'bh'},
        { 'link': '#', 'type': 'in'},
      ])