header.header
  a.logo(href="#")
  +menu('menu', ['Home', 'About', 'Services', 'Portfolio', 'Shop', 'Contact', 'Pages'])
  .socials
    +socials('socials', [
      { 'link': '#', 'type': 'fb'},
      { 'link': '#', 'type': 'tw'},
      { 'link': '#', 'type': 'gplus'},
    ])