mixin menu(classname, links)
  nav(class=`${classname}`)
    ul(class=`${classname}__list`)
      each link in links
        li(class=`${classname}__item`)
          a(class=`${classname}__link` href="#")= link

mixin socials(classname, links)
  each link in links
    div(class=`${classname}__item`)
      a(class=`${classname}__link ${classname}__link--${link.type}` href=`${link.link}`)