@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation-Bold-webfont.eot');
  src: url('../fonts/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sansation-Bold-webfont.woff2') format('woff2'),
       url('../fonts/Sansation-Bold-webfont.woff') format('woff'),
       url('../fonts/Sansation-Bold-webfont.ttf') format('truetype'),
       url('../fonts/Sansation-Bold-webfont.svg#sansationbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation-Regular-webfont.eot');
  src: url('../fonts/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Sansation-Regular-webfont.woff2') format('woff2'),
       url('../fonts/Sansation-Regular-webfont.woff') format('woff'),
       url('../fonts/Sansation-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Sansation-Regular-webfont.svg#sansationbold') format('svg');
  font-weight: 400;
  font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
  font-family: 'Myriad Pro', 'Fira Sans', sans-serif;
  font-size: 11px;
}
a {
  transition: color $transition, opacity $transition;
}
a:hover {
  opacity: .7;
}
ul {
  padding: 0;
}
button {
  cursor: pointer;
  transition: opacity $transition;

  &:hover {
    opacity: .7;
  }
}
.subscribe {
  position: relative;

  &__input {
    width: 258px;
    height: 44px;
    background-color: #cccccc;
    border: 0 none;
    padding: 15px 117px 18px 16px;
    color: #4f4e4e;
    font-size: 15px;
  }

  &__submit {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 102px;
    height: 42px;
    background-color: #0072bc;
    border: 0 none;
    color: #fff;
  }
}