.footer {
  display: flex;
  justify-content: space-between;
  background-color: #474747;
  padding: 31px 41px 38px;

  &_left {
    display: flex;
    justify-content: space-between;
  }

  &_right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  &__menu {
    color: #e5e5e5;
    margin-right: 66px;

    & .menu__title {
      font-family: 'Arimo', sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.27px;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 29px;
        height: 2px;
        background-color: #e5e5e5;
      }    
    }

    & .menu_vertical {
      &__list {
        list-style: none;
      }

      &__link {
        color: #ffffff;
        font-family: 'Arimo', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 31.74px;
        text-decoration: none;
      }
    }
  }

  &__socials {
    & .socials__item {
      width: 36px;
      height: 41px;
      background-color: #2e2e2e;
      border: 0 none;
    }
    & .socials__link--fb {
      width: 11px;
      height: 15px;
    }
    & .socials__link--tw {
      width: 14px;
      height: 13px;
    }
    & .socials__link--gplus {
      width: 18px;
      height: 13px;
    }
  }
}