.header {
  display: flex;
  flex-flow: row wrap;
  background: url('../img/slide.jpg') no-repeat;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: url('../img/logo.png') no-repeat;
  width: 65px;
  height: 18px;
}
.menu {
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
  }
  &__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Sansation', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;

    &:hover {
      color: #097e89;
    }
  }
}
.socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &__item {
    width: 25px;
    height: 30px;
    border: 1px solid rgba(#ffffff, .22);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;

    &--fb {
      background-image: url('../img/fb_icon.png');
      width: 8px;
      height: 12px;
    }
    &--tw {
      background-image: url('../img/tw_icon.png');
      width: 10px;
      height: 10px;
    }
    &--gplus {
      background-image: url('../img/g+_icon.png');
      width: 13px;
      height: 10px;
    }
    &--sm {
      background-image: url('../img/dr_icon.png');
      width: 19px;
      height: 21px;
    }
    &--bh {
      background-image: url('../img/be_icon.png');
      width: 19px;
      height: 12px;
    }
    &--in {
      background-image: url('../img/in_icon.png');
      width: 17px;
      height: 19px;
    }
  }
}