.slider
  .slider__slide
    .slider__title The Best Services
    .slider__text We provide the best services in the world We provide the best services in the world We provide the best services in the world
    .slider__link Hire US
  .slider__slide
    .slider__title The Best Services 1
    .slider__text We provide the best services in the world We provide the best services in the world We provide the best services in the world
    .slider__link Hire US
  .slider__slide
    .slider__title The Best Services 2
    .slider__text We provide the best services in the world We provide the best services in the world We provide the best services in the world
    .slider__link Hire US