extends ../_template

block variables
  - var title = 'Home page';

block content
  include ../modules/slider
  section.about
    img.about__image(src="assets/img/about.jpg")
    .about__text
      .about__title A little about us
      p We are  a company based in india with the motto “Digitalally 
        | Designed India”. We are  a company based in india with the motto
        | “Digitalally  Designed India”. We are  a company based in india
        | with the motto “Digitalally  Designed India”.

      p We are  a company based in india with the motto “Digitalally
        | Designed India”. We are  a company based in india with the 
        | motto “Digitalally Designed India”.  We are  a company based in
        | India with the motto “Digitalally Designed India”.  We are  a 
        | company based in india with the motto “Digitalally Designed India”.
      a.btn(href="#") Read more details
  section.section.section_black
    .section__title Our services
    .services
      .services__item
        img.services__image(src="assets/img/service.png")
        .services__title Web DEVELOPMENT
        .services__text We provide the best world class web development service We provide the best world class web development service
        a.btn.services__btn(href="#") More details
      .services__item
        img.services__image(src="assets/img/service.png")
        .services__title Web DEVELOPMENT
        .services__text We provide the best world class web development service We provide the best world class web development service
        a.btn.services__btn(href="#") More details
      .services__item
        img.services__image(src="assets/img/service.png")
        .services__title Web DEVELOPMENT
        .services__text We provide the best world class web development service We provide the best world class web development service
        a.btn.services__btn(href="#") More details
  section.section.section_black
    .section__title Feedback
    .feedback
      .feedback__content
        .feedback__text It was always a pleasure doing bussiness with them. I love the quality of work.
        .feedback__pager.pager
          a.pager__prev(href="#")
          .pager__page 1/10
          a.pager__next(href="#")
      .feedback__persons.persons
        .persons__item
          img.persons__photo(src="assets/img/person1.jpg")
          .persons__info
            .persons__info_left 01
            .persons__info_right 
              .persons__name Imran Khan
              .persons__job CEO, Vesso
        .persons__item
          img.persons__photo(src="assets/img/person2.jpg")
          .persons__info
            .persons__info_left 01
            .persons__info_right 
              .persons__name Imran Khan
              .persons__job CEO, Vesso
        .persons__item
          img.persons__photo(src="assets/img/person3.jpg")
          .persons__info
            .persons__info_left 01
            .persons__info_right 
              .persons__name Imran Khan
              .persons__job CEO, Vesso
  section.section
    .section__title Clients
    .clients
      each i in [1, 2, 3, 4, 5, 6, 7, 8]
        img.clients__item(src=`assets/img/clients${i}.jpg`)
  .contact
    .contact__info
      .contact__title Any Queries | Get a quote
      .contact__text If you have any questions or queries regarding our service or pricing don’t worry<br> Our experts will call you.
    form.contact__form(action="")
      input.contact__input(type="text" placeholder="Your name")
      input.contact__input(type="text" placeholder="Your number")
      button.contact__submit(type="submit") Get a call